{% extends 'layout.html' %}

{% block body %}
<!--Added for search------->

    <input type="text" id="filterInput" placeholder="Search Posted_By..." onkeyup="searchinfo()">

<!---------------------->

    <div style="margin-top: 5%;">
        <h2 style="text-align: center;">{{pinfo['name']}} Old Reports</h2>
        <br>
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Posted_By</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">View_Reoport</th>
                </tr>
            </thead>
            <tbody id="total_report_info">
                {% for report in pinfo['Reports'] %}
                <tr id="report_info">
                    <td id="s_names">{{ pinfo['Reports'][report]['Pushed by'] }}</td>
                    <td>{{ pinfo['Reports'][report]['Date'] }}</td>
                    <td>{{ pinfo['Reports'][report]['Time'] }}</td>
                    <td><a target="_blank" href="{{ pinfo['Reports'][report]['Url'] }}"><button class="btn btn-info">View</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--script for search-->

    <script>

        const searchinfo = () => {
            let filter=document.getElementById('filterInput').value.toUpperCase();
            let t_body = document.getElementById('total_report_info');
            let d_info=t_body.getElementsByTagName('tr');
            for (var i=0 ; i<d_info.length ; i++)
            {
                var t_n=d_info[i].getElementsByTagName('td')[0];
                var t_name=(t_n.textContent||t_n.innerHTML);
                if(t_name.toLocaleUpperCase().indexOf(filter) > -1){
                    d_info[i].style.display='';
                }else{
                    d_info[i].style.display='none'
                }
            }
            
        }

    </script>

<!--script for search-->

{% endblock %}