{% extends 'doc_layout.html' %}

{% block body %}
    <h2>Dr. {{doctor['name']}}</h2>
    <br>
    <div class="card">
      <h5 class="card-header" id="info_col">Specializes in: </h5>
      <div class="card-body">
        <p class="card-text">{{doctor["specialist"]}}</p>
      </div>
    </div>
    <br>
    <div class="card">
      <h5 class="card-header" id="info_col">Address: </h5>
      <div class="card-body">
        <p class="card-text">{{doctor["address"]["city"]}}, {{doctor["address"]["state"]}} - {{doctor["address"]["pincode"]}}</p>
      </div>
    </div>
    <br>
    <div class="card">
      <h5 class="card-header" id="info_col">Email: </h5>
      <div class="card-body">
        <p class="card-text">{{doctor["email"]}}</p>
      </div>
    </div>
    <br>

    <form action="/update_my_profile" method="GET">
      <button class="btn" id="update">Update your profile</button>
    </form>
{% endblock %}